.space {
  width: 100%;

  &.h10 {
    height: 30px;
  }

  &.h30 {
    height: 30px;
  }

  &.h50 {
    height: 50px;
  }

}

.strong {
  font-weight: bold;
}

.not-search-result {
  margin: 30px 10px;
  font-size: 13px;
  text-align: center;
  color: #637282;
}

.contents-action-button {
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border: 2px dotted #e2e2e2;
  margin: 10px 0;

  transition: 200ms;

  &:hover {
    background: $app-primary-focus-color;
    border: 2px dotted $default-link-color;
  }
}

.icon-button {
  border: none;
  background: transparent;
  padding: 10px 12px;
  color: $default-link-color;
  cursor: pointer;
  text-decoration: none;
  transition: background 200ms ease-out;

  &:hover {

  }
}