@font-face {
  font-family: 'Times Roman';
  font-style: normal;
  font-weight: 400;
  src: local('Times Roman'),
  url("/assets/fonts/OPTITimes-Roman.otf") format('opentype');
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'),
  url("/assets/fonts/ProductSans-Regular.woff") format('woff'),
  url("/assets/fonts/ProductSans-Regular.ttf") format('truetype');
}
