$app-primary-color: #f7f7f8;
$app-content-color: #ffffff;
$app-secondary-color: #efeff1;

$default-letter-color: #5f6368;

$app-primary-focus-color: #d5d8e6;

$app-primary-content-color: #4d6a8c;
$app-focus-primary-content-color: #455f80;
$app-primary-font-color: #b8c3d2;

$default-link-color: #637282;

