@import "varables";
@import "fonts";
@import "mixin";

body {
  background: $app-primary-color;
  overflow-x: hidden;
  color: $default-letter-color;

  font-family: $default-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  color: $default-letter-color;
}

a {
  text-decoration: none;
  color: $default-link-color;
}

.space {
  width: 100%;

  &.h10 {
    height: 30px;
  }

  &.h30 {
    height: 30px;
  }

  &.h50 {
    height: 50px;
  }

}