@import "varables";

body {
  background: $app-primary-color;
  overflow-x: hidden;
  color: $default-letter-color;

  font-family: system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI,
    /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu,
    /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans,
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  font-size: unset;
  color: $default-letter-color;
}

a {
  text-decoration: none;
  color: $default-link-color;
}